# Firebase Configuration
# Skopiuj ten plik do .env.local i zastąp wartości swoimi danymi z Firebase Console
REACT_APP_FIREBASE_API_KEY=AIzaSyA-8qwvOfQab02YrftdgqLNI9rPdo95Nk4
REACT_APP_FIREBASE_AUTH_DOMAIN=partypass-app-9539e.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=partypass-app-9539e
REACT_APP_FIREBASE_STORAGE_BUCKET=partypass-app-9539e.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=583171646923
REACT_APP_FIREBASE_APP_ID=1:583171646923:web:b2d26b6966af7933b1c24e
REACT_APP_FIREBASE_MEASUREMENT_ID=G-G28WF7GJ2W
